<nav>
    <ul>
        <li>
                <a href="/">Task List</a>
        </li>
         <li>
                <a href="/add">Add Task</a>
        </li>       
    </ul>
    <h1 class="nav-title">To-Do List Application Main Final</h1>
</nav>
<hr>